bin/
node_modules/
bld/

*.orig
*.suo
*.user
*.sln.docstates
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
projects/vs2013/bld/
*.sublime-workspace
sauce_connect.log
npm-debug.log
.baseDir.ts
.tscache
*.tmp.txt
