# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Source files should be normalized
*.js text
*.less text
*.html text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.jsproj text eol=crlf