#host .win-navbarcommand { 
    width: 250px; 
    height: 100px; 
    margin: 5px; 
    overflow: hidden;
}
#host,
#host {
    width: 500px;
    background-color: darkgreen;
}

#host .verticalTest .win-navbarcommand { 
    width: 250px; 
    height: 50px; 
    margin: 5px; 
    overflow: hidden;
}
