/*
    Phone specific control styles
*/


/*
Text input controls.
*/
input[type=text], input[type=password], input[type=email], input[type=number],
input[type=tel], input[type=url], input[type=search], textarea, .win-textarea {
    box-sizing: border-box; /* Prevent padding and border from pushing box outside of margins */
    width: 100%;
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 12px 0;
    font-weight: WIN_FONT_WEIGHT_MEDIUM;
}

textarea, .win-textarea {
    padding-top: 4px;
    padding-bottom: 10px;
    font-weight: WIN_FONT_WEIGHT_MEDIUM;
}

/*
Button control.
html is needed before button in order to beat the specificity of typography-fonts.css 
*/
button, input[type=button], input[type=reset], input[type=submit] {
    max-width: 100%;
    margin: 12px 0;
    font-size: 14pt;
    font-weight: WIN_FONT_WEIGHT_SMALL;
}

/*
Radio and checkbox Control
*/
input[type=radio], input[type=checkbox] {
    margin: 16px 0px 20px 0px;
    vertical-align: middle;
}

input[type=checkbox]::-ms-check {
    padding: 1px;
}

input[type=radio]::-ms-check {
    padding: 2px;
}

/*
Select control.
*/
select {
    box-sizing: border-box;
    width: 100%;
    font-size: 15pt;
    margin: 12px 0;
    padding-top: 3px;
    padding-bottom: 4px;
    font-weight: WIN_FONT_WEIGHT_MEDIUM;
}

select::-ms-expand {
    display: none;
}

/*
Anchor control
*/

a:hover:active {
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
}

/*
Interactive text
*/
.win-type-interactive:hover:active {
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
}

/*
Clear and reveal button styles.
*/
input::-ms-clear, input::-ms-reveal {
    display: none;
}


/*
Range control
*/
input[type=range] {
    margin: 16px 0;
}

/*
Progress control
*/
progress {
    margin: 12px 0;
}
