/* 
Modifications for top-level elements html, body and iframe.
*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    -ms-user-select: none;
    cursor: default;
    -ms-scroll-translation: vertical-to-horizontal;
}
html {
    overflow: hidden;
}
body {
    -ms-content-zooming: none;
}
iframe {
    border: 0;
}
RTL(html) {
    direction: rtl;
}

/*
Explicitly define a Segoe UI font-family so that we can assign Segoe UI 
Semilight to an appropriate font-weight.
*/
@font-face {
    font-family: "Segoe";
    font-weight: WIN_FONT_WEIGHT_XX_LARGE;
    src: DESKTOP(local("Segoe UI Light")) PHONE(local("Segoe WP"));
}
@font-face {
    font-family: "Segoe";
    font-weight: WIN_FONT_WEIGHT_SMALL;
    src: DESKTOP(local("Segoe UI Semilight")) PHONE(local("Segoe WP Semibold"));
}
@font-face {
    font-family: "Segoe";
    font-weight: WIN_FONT_WEIGHT_MEDIUM;
    src: DESKTOP(local("Segoe UI")) PHONE(local("Segoe WP"));
}
@font-face {
    font-family: "Segoe";
    font-weight: WIN_FONT_WEIGHT_LARGE;
    src: DESKTOP(local("Segoe UI Semibold")) PHONE(local("Segoe WP Semilight"));
}
@font-face {
    font-family: "Segoe";
    font-weight: 700;
    src: DESKTOP(local("Segoe UI Bold")) PHONE(local("Segoe WP"));
}
/* 
I couldn't find an italic version of Segoe WP, I guess it just won't get 
used?
*/
@font-face {
    font-family: "Segoe";
    font-style: italic;
    font-weight: WIN_FONT_WEIGHT_MEDIUM;
    src: local("Segoe UI Italic");
}
@font-face {
    font-family: "Segoe";
    font-style: italic;
    font-weight: 700;
    src: local("Segoe UI Bold Italic");
}

/*
Explicitly define font-families for Microsoft Yahei UI and Microsoft JhengHei UI so that we can fallback requests for, 
    Microsoft Yahei UI Semilight and Microsoft JhengHei UI Semilight, to Regular instead of Light fonts.
*/
@font-face {
    font-family: "Microsoft Yahei UI";
    font-weight: 200;
    src: local("Microsoft Yahei UI Light");
}
@font-face {
    font-family: "Microsoft Yahei UI";
    font-weight: 300;
    src: local("Microsoft Yahei UI");
}
@font-face {
    font-family: "Microsoft Yahei UI";
    font-weight: 500;
    src: local("Microsoft Yahei UI");
}
@font-face {
    font-family: "Microsoft Yahei UI";
    font-weight: 600;
    src: local("Microsoft Yahei UI Bold");
}

@font-face {
    font-family: "Microsoft JhengHei UI";
    font-weight: 200;
    src: local("Microsoft JhengHei UI Light");
}
@font-face {
    font-family: "Microsoft JhengHei UI";
    font-weight: 300;
    src: local("Microsoft JhengHei UI");
}
@font-face {
    font-family: "Microsoft JhengHei UI";
    font-weight: 500;
    src: local("Microsoft JhengHei UI");
}
@font-face {
    font-family: "Microsoft JhengHei UI";
    font-weight: 600;
    src: local("Microsoft JhengHei UI Bold");
}

/*
Weight and size definitions for typographic classes and elements.
*/
h1, .win-type-xx-large {
    WIN_TYPE_XX_LARGE
}
h2, .win-type-x-large {
    WIN_TYPE_X_LARGE
}
h3, .win-type-large {
    WIN_TYPE_LARGE
}
h4, .win-type-medium, code, pre, samp {
    WIN_TYPE_MEDIUM
}
body, h5, .win-type-small, legend {
    WIN_TYPE_SMALL
}
.win-type-x-small {
    WIN_TYPE_X_SMALL
}
h6, caption, figcaption, small, .win-type-xx-small {
    WIN_TYPE_XX_SMALL
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.win-type-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h1.win-type-ellipsis, .win-type-xx-large.win-type-ellipsis {
    WIN_TYPE_XX_LARGE_ELLIPSIS
}
h2.win-type-ellipsis, .win-type-x-large.win-type-ellipsis {
    WIN_TYPE_X_LARGE_ELLIPSIS
}
dt, th {
    font-size: 11pt;
    font-weight: 700;
    line-height: 1.3636; /* 20px when font-size is 11pt */
}
abbr, acronym, address, blockquote, cite, dl, dd, li, ol, p, q, td, tr {
    font-weight: 300;
}
b, strong {
    font-weight: 700;
}
em {
    font-style: italic;
}

/*
Fixed font-family rules.
*/
code, pre, samp {
    font-family: "Consolas";
}
